.ProjectBar__project_container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  font-size: 0.9rem;
}

.ProjectBar__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: calc(100% - 110px);
}

.ProjectBar__proj_name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
}

.ProjectBar__description {
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.ProjectBar__description span {
  margin-right: 7px;
}

.ProjectBar__description_text {
  margin-top: 3px;
  padding: 10px;
  background-color: var(--text-bg-color);
}

.ProjectBar__proj_prog_date {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ProjectBar__proj_prog {
  width: 150px;
}

.ProjectBar__deadline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 150px;
  margin-top: 5px;
}

.ProjectBar__deadline_first {
  margin-bottom: 10px;
  margin-right: 10px;
}

.ProjectBar__overdue {
  font-weight: 600;
  line-height: 1.8rem;
  color: var(--highlight-color);
}

.ProjectBar__buttons {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100px;
}

.ProjectBar__fa {
  cursor: pointer;
  margin-left: 25px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 374px) {
  .ProjectBar__project_container {
    font-size: 0.8rem;
    padding: 2px;
  }

  .ProjectBar__proj_name {
    font-size: 0.9rem;
  }

  .ProjectBar__buttons {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}

@media only screen and (min-width: 1024px) {
  .ProjectBar__link_wrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 20px;
  }

  .ProjectBar__header {
    width: auto;
    grid-column: 1/2;
    align-self: start;
  }

  .ProjectBar__proj_name {
    font-size: 1.15rem;
  }

  .ProjectBar__proj_prog {
    margin-right: 15px;
  }

  .ProjectBar__proj_prog_date {
    flex-direction: column;
    align-items: start;
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
    width: 150px;
    height: 75px;
  }

  .ProjectBar__proj_prog {
    margin-bottom: 5px;
  }

  .ProjectBar__description {
    grid-column: 2/3;
    width: 100%;
    min-width: 250px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .ProjectBar__description span {
    margin-right: 7px;
  }

  .ProjectBar__description_text {
    min-height: 50px;
    margin-top: 3px;
    line-height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .ProjectBar__deadline {
    display: inline-block;
    width: 150px;
  }

  .ProjectBar__deadline_first {
    margin-right: 7px;
  }

  .ProjectBar__overdue {
    line-height: 2.4rem;
  }

  .ProjectBar__buttons {
    top: 10px;
    right: 10px;
  }

  .ProjectBar__fa {
    font-size: 1.4rem;
  }
}
