.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: #6289b5;
  background-image: linear-gradient(195deg, transparent 0 70%, #7fcce9 70% 100%),
    linear-gradient(200deg, transparent 0 50%, #6bbde2 50% 80%),
    linear-gradient(205deg, transparent 0 30%, #5c9ad1 30% 60%);
}

.LandingPage__hero_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 40px;
  font-family: 'Oxygen', sans-serif;
  font-size: 2.5rem;
  line-height: 4rem;
  color: #fff;
  z-index: 1;
}

img {
  position: fixed;
  bottom: 0;
  left: 10%;
  height: 40%;
  z-index: 0;
}

.LandingPage__btn {
  width: 190px;
  height: 55px;
  display: grid;
  place-content: center;
  margin-bottom: 0;
  border: none;
  border-radius: 20px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-color: #dc2e5e;
  z-index: 1;
}

@media only screen and (min-width: 750px) {
  .LandingPage h1 {
    width: 700px;
    align-self: center;
  }

  .LandingPage__hero_text {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 2.8rem;
  }

  .LandingPage__t1 {
    align-self: start;
  }

  .LandingPage__t2 {
    align-self: center;
  }

  .LandingPage__t3 {
    align-self: flex-end;
  }

  img {
    left: 15%;
    height: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .LandingPage h1 {
    width: 800px;
    align-self: center;
  }

  .LandingPage__hero_text {
    font-size: 3.2rem;
  }

  .LandingPage__btn {
    width: 240px;
    height: 65px;
    margin-bottom: 75px;
    font-size: 1.8rem;
  }
}
