.LandingPage {
  position: absolute;
  left: 0;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100% - 150px);
  background-color: #6289b5;
  background-image: linear-gradient(195deg, transparent 0 70%, #7fcce9 70% 100%),
    linear-gradient(200deg, transparent 0 50%, #6bbde2 50% 80%),
    linear-gradient(205deg, transparent 0 30%, #5c9ad1 30% 60%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.LandingPage__hero_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 70%;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #fff;
  z-index: 1;
}

.LandingPage__hero_text h1 span {
  display: block;
}

.LandingPage__blurb {
  width: 230px;
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 1.3rem;
  padding: 10px;
  font-family: var(--roboto-slab);
  font-weight: 500;
  color: white;
  background-color: rgba(1, 7, 26, 0.7);
}

img {
  position: fixed;
  bottom: 0;
  left: 10%;
  height: 35%;
  z-index: 0;
}

.LandingPage__btn {
  width: 190px;
  height: 55px;
  display: grid;
  place-content: center;
  margin-bottom: 0;
  border: none;
  border-radius: 20px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1.4rem;
  color: white;
  background-color: #dc2e5e;
  z-index: 1;
}

@media only screen and (min-width: 750px) {
  .LandingPage {
    top: 130px;
    height: calc(100% - 130px);
  }

  .LandingPage__hero_text {
    font-size: 2.5rem;
    line-height: 4.5rem;
  }

  .LandingPage__blurb {
    width: 500px;
    font-size: 1.6rem;
    line-height: 2rem;
  }

  img {
    left: 10%;
    height: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .LandingPage__hero_text {
    height: 60%;
    margin-top: 50px;
  }

  .LandingPage__hero_text h1 {
    display: flex;
    justify-content: space-between;
    width: 850px;
    align-self: center;
    font-size: 3rem;
  }

  .LandingPage__blurb {
    width: 610px;
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .LandingPage__btn {
    width: 240px;
    height: 65px;
    margin-bottom: 75px;
    font-size: 1.8rem;
  }
}
