.Jobs__list .JobItem:nth-child(even) {
  background-color: var(--list-even-color);
}

.Jobs__list .JobItem:nth-child(odd) {
  background-color: var(--list-odd-color);
}

.JobItem {
  display: flex;
  flex-direction: column;
}

.JobItem__container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 5% 65% 30%;
  grid-template-rows: 20% 50% 30%;
  align-items: start;
  padding: 10px;
}

.JobItem__icon {
  grid-column: 1/2;
  grid-row: 1/2;
}

.JobItem__name {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.1rem;
  font-weight: 600;
}

.JobItem__details {
  grid-column: 1/4;
  grid-row: 2/3;
  align-self: center;
  padding: 15px 0 25px 0;
}

.JobItem__details_text {
  padding: 5px;
}

.JobItem__progress {
  grid-column: 1/4;
  grid-row: 3/4;
  justify-self: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.JobItem__meter_container {
  width: 150px;
}

.ProgressBar__meter {
  height: 20px;
  min-width: 150px;
  max-width: 150px;
  margin-top: 3px;
}

.JobItem__date_etc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-width: 150px;
  height: auto;
}

.JobItem__date_etc span {
  line-height: 1.5rem;
}

.JobItem__revisions_requested {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  color: var(--highlight-color);
}

.JobItem__buttons {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: start;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.JobItem__fa,
.JobItem__fa_bigger {
  display: grid;
  place-content: center;
  width: 30px;
  height: 30px;
  color: var(--title-color);
}

.JobItem__fa {
  font-size: 1.2rem;
}

.JobItem__fa_bigger {
  font-size: 1.5rem;
}

.JobItem__fa:hover {
  cursor: pointer;
}

.JobItem canvas {
  box-sizing: border-box;
  min-width: 200px !important;
  min-height: 300px !important;
  max-width: 400px !important;
  max-height: 600px !important;
  height: auto !important;

  margin: 0 auto;
  padding: 20px;
}

.JobItem__form {
  grid-column: 1/4;
  grid-row-start: 4;
}

.JobItem__assigned_employees {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-top: 1px solid grey;
}

.JobItem__assigned_employees span {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.JobItem__assigned_employees ul li {
  padding: 5px;
}

@media only screen and (max-width: 374px) {
  .JobItem__date_etc {
    min-width: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .JobItem__container {
    grid-template-columns: 2% 15% calc(100% - 180px - 29%) 180px 12%;
    grid-template-rows: 100%;
    align-content: start;
  }

  .JobItem__icon {
    grid-column: 1/2;
  }

  .JobItem__name {
    grid-column: 2/3;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .JobItem__details {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-top: 0;
  }

  .JobItem__progress {
    grid-column: 4/5;
    grid-row: 1/2;
    flex-direction: column;
    align-items: flex-start;
  }

  .JobItem__date {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }

  .JobItem__buttons {
    grid-column: 5/6;
    grid-row: 1/2;
    align-self: start;
    justify-self: end;
    margin-top: 0;
  }

  .JobItem__expand_container {
    display: flex;
  }

  .JobItem__form {
    grid-column: 3/4;
  }
}
