.Profile__promote_btn {
  cursor: pointer;
  height: 35px;
  width: 140px;
  font-family: var(--oxygen);
  font-size: 1.1rem;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--highlight-color);
}

.Profile__user_info,
.Profile__user_projects {
  padding: 10px;
  background-color: var(--list-odd-color);
}

.Profile__user_info li {
  padding: 8px;
}

.Profile__bold {
  font-weight: 600;
  margin-right: 10px;
}

.Profile__user h2 {
  padding: 10px;
  font-weight: 600;
  background-color: var(--list-even-color);
}

.Profile__user_projects li {
  padding: 8px;
}

.Profile__user_projects a,
.Profile__user_projects a:visited {
  color: var(--link-color);
}

.Profile__user_projects a:hover {
  color: var(--link-hover-color);
}

.Profile__user_header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--oxygen);
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--header-bg-color);
}

@media only screen and (min-width: 750px) {
  .Profile__main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .Profile__user {
    width: calc(100% - 220px);
  }
}
