.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin: 15px auto;
  padding: 10px;
  background-color: white;
}

.Form legend {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 20px;
  align-self: flex-start;
}

.Form label,
label {
  width: 250px;
  line-height: 1.3rem;
  text-align: left;
}

.Form input,
.Form textarea,
.Form select {
  width: 250px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.2rem;
  background-color: #f5f5f5;
  border: 1px solid #b1b1b1;
}

.Form .select {
  width: 270px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1rem;
  line-height: 1.2rem;
}

.Form select {
  min-width: 250px;
}

.Form button {
  display: grid;
  place-items: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  color: white;
  border: none;
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.Form .error {
  color: red;
  line-height: 2rem;
}

@media only screen and (min-width: 750px) {
  .Form {
    width: 420px;
  }
  .Form label,
  .Form input,
  .Form textarea {
    width: 400px;
  }

  .Form select {
    min-width: 410px;
  }

  .Form .select {
    width: 420px;
  }
}
