.Login h1 {
  margin-left: 30px;
}

.Login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 750px) {
  .Login {
    width: 60%;
    margin: 0 auto;
  }
}
