.radio-toolbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.radio-toolbar input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  background-color: var(--list-odd-color);
  padding: 5px;
  max-width: 130px;
  margin: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.radio-toolbar input[type='radio']:checked + label {
  background-color: var(--header-bg-color);
  color: #f4f2f3;
}

@media only screen and (min-width: 750px) {
  .radio-toolbar {
    flex-direction: row;
  }
}
