.Header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.Header h1 {
  margin-bottom: 100px;
}

.Header__link {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.Header__logo {
  display: none;
}

.Header__app_name {
  margin-left: 20px;
  font-family: var(--oxygen);
  font-size: 2.8rem;
  color: var(--title-color);
}

.Header__user_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 15px;
  margin-right: 15px;
}

.Header__sub_container {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header__login {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Header__btn {
  display: grid;
  place-items: center;
  width: 85px;
  height: 30px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  color: white;
  border-radius: 10px;
}

.Header__primary {
  background-color: var(--highlight-color);
}

.Header__alt {
  background-color: #638ab7;
}

.Header__dashboard {
  font-family: var(--oxygen);
  font-weight: 600;
  font-size: 1rem;
  color: var(--highlight-color);
}

.Header__db_logout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  right: 15px;
  bottom: 10px;
  width: 90px;
  height: 60px;
}

.Header__db_logout h3 {
  margin: 0;
}

.app__header ul li {
  padding: 10px;
}

@media only screen and (min-width: 750px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
  }

  .Header h1 {
    position: absolute;
    top: 13pt;
    left: 0;
  }

  .Header__link {
    margin-left: 45px;
  }

  .Header__logo {
    display: inline-block;
    position: absolute;
    top: -2pt;
    left: 10pt;
    width: 140px;
    height: auto;
  }

  .Header__app_name {
    position: absolute;
    top: 20pt;
    left: 85pt;
    font-size: 2.4rem;
  }

  .Header__login {
    position: absolute;
    right: 30px;
    top: 5px;
    width: 150px;
    height: 100px;
    flex-direction: column;
    align-items: space-between;
  }

  .Header__sub_container {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin-right: 15px;
  }

  .Header__user_info {
    margin-right: 30px;
  }

  .Header__db_logout {
    height: 65px;
    right: 0px;
    top: 0px;
  }

  .Header__dashboard {
    font-size: 1rem;
  }
}
