.Dashboard__main {
  box-sizing: border-box;
}

.Dashboard__project_header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--oxygen);
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--header-bg-color);
}

.Dashboard__new {
  height: 35px;
  width: 70px;
  font-family: var(--oxygen);
  font-size: 1.1rem;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--highlight-color);
}

.Dashboard__list {
  list-style: none;
}

.Dashboard__list li:nth-child(even) .ProjectBar__project_container {
  background-color: var(--list-even-color);
}

.Dashboard__list li:nth-child(odd) .ProjectBar__project_container {
  background-color: var(--list-odd-color);
}

.Dashboard__no_projects {
  display: grid;
  place-content: center;
  width: 100%;
  margin: 50px auto;
}

.Dashboard__welcome {
  display: block;
  font-family: var(--oxygen);
  font-size: 2rem;
  margin-bottom: 20px;
}

.Dashboard__container a,
.Dashboard__container a:hover,
.Dashboard__container a:visited {
  color: var(--text-color);
}

@media only screen and (min-width: 750px) {
  .Dashboard__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .Dashboard__main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .Dashboard__projects {
    width: calc(100% - 170px);
  }
}
