.Dashboard__project_header,
.Dashboard__personnel_header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--oxygen);
  font-size: 1.3rem;
  background-color: var(--header-bg-color);
}

.Dashboard__fa_h1 {
  display: flex;
  align-items: center;
}

.Dashboard__fa_h1 h1 {
  margin-left: 15px;
}

.Dashboard__new {
  height: 35px;
  width: 70px;
  font-family: var(--oxygen);
  font-size: 1.2rem;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: var(--highlight-color);
}

.Dashboard__list {
  list-style: none;
}

.Dashboard__list li:nth-child(even) .ProjectBar__project_container {
  background-color: var(--list-even-color);
}

.Dashboard__list li:nth-child(odd) .ProjectBar__project_container {
  background-color: var(--list-odd-color);
}

.Dashboard__no_projects {
  display: grid;
  place-content: center;
  width: 100%;
  margin: 50px auto;
}

.Dashboard__welcome {
  display: block;
  font-family: var(--oxygen);
  font-size: 2rem;
  margin-bottom: 20px;
}

.Dashboard__container a,
.Dashboard__container a:hover,
.Dashboard__container a:visited {
  color: var(--text-color);
}

@media only screen and (min-width: 750px) {
  .Dashboard__container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .Dashboard__main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .Dashboard__personnel_header {
    margin-top: 0;
  }

  .Dashboard__projects {
    width: 70%;
  }

  .Dashboard__personnel {
    width: 25%;
    max-width: 300px;
    margin-left: 30px;
  }
}
