.ProjectView__jobs_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--oxygen);
  background-color: var(--header-bg-color);
}

#projectView__container {
  display: flex;
  flex-direction: row;
}

.ProjectView__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 10px;
  background-color: rgba(127, 204, 233, 0.8);
}

#project_progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
}

#jobs_stats_container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  margin: 5px;
}

#sidebar_container {
  flex-basis: 20%;
  margin: 5px;
  border: 1px solid grey;
}

@media only screen and (min-width: 750px) {
  #projectView_main {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
}
