.ProjectView__jobs_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: var(--oxygen);
  font-size: 1.2rem;
  font-weight: 600;

  background-color: var(--header-bg-color);
}

#projectView__container {
  display: flex;
  flex-direction: row;
}

.ProjectView__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  margin-top: 10px;
  background-color: rgba(127, 204, 233, 0.8);
}

#project_progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 20%;
}

#jobs_stats_container {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  margin: 5px;
}

@media only screen and (min-width: 750px) {
  #projectView_main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
  }

  .ProjectView__jobs_stats {
    width: calc(100% - 170px);
  }

  .ProjectView__sidebar {
    margin-left: 10px;
    width: 150px;
  }
}
