.App__main {
  margin-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}

.App__org_header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.App__org_header h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.App__section_header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: var(--oxygen);
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--header-bg-color);
}

.App__separate_top,
.App__separate_top_always {
  margin-top: 40px;
}

.App__separate_bottom {
  margin-bottom: 40px;
}

.App__fa_h1 .fa_plus,
.App__fa_h1 .fa_minus {
  font-size: 1rem;
}

.App__fa_h1 {
  display: flex;
  align-items: center;
}

.App__fa_h1 h1 {
  margin-left: 15px;
}

@media only screen and (min-width: 750px) {
  .App__main {
    padding-left: 30px;
    padding-right: 30px;
  }

  .App__personnel {
    width: 200px;
    margin-left: 30px;
  }

  .App__separate_top {
    margin-top: 0px;
  }
}
