@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
