@import url('https://fonts.googleapis.com/css?family=Oxygen|Roboto+Slab&display=swap');

html,
body {
  height: 100vh;
  --title-color: #021143;
  --list-even-color: rgba(127, 204, 233, 0.6);
  --list-odd-color: rgba(127, 204, 233, 0.3);
  --text-bg-color: rgba(255, 255, 255, 0.5);
  --header-bg-color: #5c9ad1;
  --highlight-color: #dc2e5e;
  --oxygen: 'Oxygen', sans-serif;
  --text-color: #000925;
  font-size: 14px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Slab', serif;
  color: var(--text-color);
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Header {
  height: 150px;
}

.app__main {
  height: calc(100vh - 150px);
}

@media only screen and (min-width: 750px) {
  .Header {
    height: 130px;
  }

  .app__main {
    height: calc(100vh - 130px);
  }
}
