@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

html,
body {
  height: 100vh;
  --list-even-color: rgba(127, 204, 233, 0.8);
  --list-odd-color: rgba(127, 204, 233, 0.5);
  --header-bg-color: #5c9ad1;
  --oxygen: 'Oxygen', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Header {
  height: 150px;
}

.app__main {
  height: calc(100vh - 150px);
}

@media only screen and (min-width: 700px) {
  .Header {
    height: 120px;
  }

  .app__main {
    height: calc(100vh - 120px);
  }
}
