.ProgressBar__meter,
.ProgressBar__fill,
.ProgressBar__text {
  display: inline-block;
  width: 100%;
  height: 20px;
}

.ProgressBar__meter {
  position: relative;
  background-color: rgb(109, 202, 140);
}

.ProgressBar__fill {
  background-color: rgb(21, 190, 77);
}

.ProgressBar__text {
  position: absolute;
  left: 0;
  text-align: center;
}
